.film_list {
  margin: 0;
}

.film-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: scale 250ms linear, box-shadow 250ms linear;
  cursor: pointer;
}

.film-list__item:hover,
.film-list__item:focus {
  scale: 1.006;
}

.film-list__item-poster {
  border-radius: 5px;
  margin-bottom: 10px;
  //   width: 395px;
  //   height: 574px;
}

.film-list__item-title {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--second-color);
}

.film-list__item-details {
  font-size: 20px;
  line-height: 1.2;
  color: var(--accent-color);
}

.film-list__item-genres {
  margin-right: 10px;
}

.film-list__item-year {
  margin-left: 10px;
}

//MOBILE
@media screen and (max-width: 767px) {
  .film-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

//TABLET
@media screen and (min-width: 768px) {
  .film_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 30px 0 60px 0;
    justify-content: center;
  }

  .film-list__item-poster {
    margin-bottom: 8px;
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .film_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 16px;
    justify-content: center;
  }

  .film-list__item-poster {
    margin-bottom: 12px;
  }
}
