<footer class="footer">
  <div class="container">
    <a href="./" class="footer-logo">Filmoteka</a>
    <div class="line-top"></div>
    <div class="footer-wrap">
      <div class="footer-networks">
        <p class="footer-text-svg">our applications</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="https://www.apple.com/ua/" class="footer-network-links">
              <svg class="network-svg" width="40" height="40">
                <use href="./images/svg/symbol-defs.svg#icon-appleinc"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a href="https://www.youtube.com/" class="footer-network-links">
              <svg class="network-svg" width="100" height="40">
                <use href="./images/svg/symbol-defs.svg#icon-youtube2"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-networks">
        <p class="footer-text-svg">join us on our networks</p>
        <ul class="footer-list">
          <li class="footer-item-networks">
            <a href="https://www.instagram.com/" class="footer-network-link">
              <svg class="network-svg-icon" width="30" height="30">
                <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-networks">
            <a href="https://uk-ua.facebook.com/" class="footer-network-link">
              <svg class="network-svg-icon" width="30" height="30">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-networks">
            <a href="https://twitter.com/" class="footer-network-link">
              <svg class="network-svg-icon" width="30" height="30">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <p class="footer-text-contact">support</p>
        <a href="mailto:support.filmoteca@.tv" class="footer-contacts-link"
          >support.filmoteca@.tv</a
        >
      </div>
    </div>
    <div class="line-bottom"></div>
    <div class="footer-group">
      <p class="footer-text">&#169; 2022 | All Rights Reserved |</p>
      <div class="footer-group-down">
        <p class="footer-text">&nbsp;Developed with</p>
        <svg class="heart-svg-left" width="14" height="12.75">
          <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
        </svg>
        <svg class="heart-svg-right" width="14" height="12.75">
          <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
        </svg>
        <p class="footer-text">by</p>

        <a href="" class="footer-link" data-modal-open>GoIT Students</a>
      </div>
    </div>
  </div>
</footer>
