<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close" data-modal-close>
      <svg class="close">
        <use href="./images/svg/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="wrap-team">
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="./images/team-photo/photo_5222118665418295236_y (1).jpg"
              alt="фото члена команды"
            />
          </div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
      <li class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">front</div>
          <div class="card__face card__face--back">back</div>
        </div>
      </li>
    </ul>
  </div>
</div>
