<header class="header">
  <div class="container header__container header-home__container">
    <div class="header__navigation">
      <a href="./index.html" class="logo">
        <svg width="24px" height="24px">
          <use class="logo__svg" href="/src/images/svg/film.svg"></use>
        </svg>
        <span class="logo__text link">
          Filmoteka
        </span>
      </a>
      <nav>
        <ul class="header__list list">
          <li class="header__li">
            <a href="./index.html" class="header__link link current">home</a>
          </li>
          <li class="header__li">
            <a href="./library.html" class="header__link link">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__search">
      <input class="search__input" type="text" id="search-box" placeholder="Movie search"/>
      <a href="./index.html" class="icon-search">
        <svg width="24px" height="24px">
          <use class="logo__svg" href="/src/images/svg/icon-search.svg"></use>
        </svg>
       </a>
    </div>
  </div>
</header>