<section class="films">
  <div class="container">
    <!-- <ul class="films_title"></ul> -->
    <ul class="film_list">
      <!-- <li id="" class="film-list__item">
        <img
          src="./images/Rectangle 15.jpg"
          alt="Movie Name"
          class="film-list__item-poster"
          loading="lazy"
        />
        <div class="film-list__item-info">
          <h3 class="film-list__item-title"></h3>
          <div class="film-list__item-details">
            <span class="film-list__item-genres"></span>
            |
            <span class="film-list__item-year"></span>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
