<div class="modal-backdrop hidden">
  <div class="movie-popup">
    <div class="modal__data">
      <div class="modal__data--content"></div>
    </div>
    <button class="menu-close-button" type="button" id="closemenu">
      <svg class="" width="14px" height="14px">
        <use href="./images/svg/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <!-- <div class="movie-wrapper">
      <div class="poster-img">
        <img src="./images/no-poster.jpg" alt="No poster available" />
      </div>

      <div class="movie-info">
        <h3 class="movie-title">Movie Title</h3>
        <div class="details-wrapper">
          <ul class="movie-details">
            <li class="movie-details--item">Vote / Votes</li>
            <li class="movie-details--item">Popularity</li>
            <li class="movie-details--item">Original Title</li>
            <li class="movie-details--item">Genre</li>
          </ul>
          <ul class="movie-details--data">
            <li class="movie-details--data-item">
              <span class="vote">7.3</span> / <span class="votes">1260</span>
            </li>
            <li class="movie-details--data-item popularity">100.2</li>
            <li class="movie-details--data-item original-title">Movie Title</li>
            <li class="movie-details--data-item genre">Western</li>
          </ul>
        </div>
        <h3 class="movie-description">About</h3>
        <p class="movie-description__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum
          harum est illo nostrum fugit aspernatur sunt, magnam necessitatibus
          saepe dolore officia, illum expedita alias voluptate hic, quisquam
          consectetur? Iure reiciendis dolor expedita nulla incidunt inventore
          nostrum itaque ea, dolore, debitis in quisquam nam asperiores velit
          aliquid corrupti iste ipsum.officia, illum expedita alias voluptate
          hic, quisquam consectetur? Iure reiciendis dolor expedita nulla
          incidunt inventore nostrum itaque ea, dolore, debitis in quisquam nam
          asperiores velit aliquid corrupti iste iiciendis dolor expedita nulla
          incidunt inventore nostrum itaque ea, dolore, debitis in quisquam nam
          asperiores velit aliquid corrupti iste ipsum.
        </p>
        <ul class="movie-popup__buttons">
          <li class="movie-popup__button--accent" type="button">
            add to Watched
          </li>
          <li class="movie-popup__button" type="button">add to queue</li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
