body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    font-family: inherit;
    display: inline-block;
}

.list {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

