.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px solid green;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: auto;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
