.footer {
  background-color: var(--footer-bg-color);
}

.footer-logo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  text-decoration: none;
  color: var(--footer-text-color);

  display: block;

  @media screen and (max-width: $tablet) {
    padding-left: 0;
    text-align: center;
    padding-top: 20px;
  }

  @media screen and (min-width: $tablet) {
    padding-left: 50px;
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 10px;
    padding-top: 30px;
  }
}

.footer-logo::before {
  content: '';
  background-color: var(--footer-text-color);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../images/svg/film.svg);
  background-size: contain;
}

.footer-wrap {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.footer-text-svg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--second-color);
}

.footer-text-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 42px;
  color: var(--second-color);
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-item + .footer-item {
  margin-left: 5px;
}

.footer-networks {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.footer-network-links {
  fill: var(--footer-text-color);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-svg {
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.footer-item-networks:not(:first-child) {
  margin-left: 20px;
}

.network-svg-icon {
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-link:hover .network-svg-icon {
  fill: var(--footer-text-color);
}

.footer-network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-color);
  background-color: var(--footer-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-contacts-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187px;

  color: var(--footer-text-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact {
  @media screen and (max-width: $tablet) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.line-bottom {
  border-bottom: 1px solid var(--accent-color);
  margin-top: 33px;
}

.line-top {
  border-bottom: 1px solid var(--accent-color);
  margin-top: 30px;
}

.footer-group {
  @media screen and(max-width: $tablet) {
    display: block;
    text-align: center;
  }
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding-bottom: 30px;
}

.footer-group-down {
  @media screen and (max-width: $pre-tablet) {
    align-items: center;
  }

  display: flex;
  align-items: baseline;
  justify-content: center;
}

.footer-text {
  @media screen and(max-width: $tablet) {
    font-size: 14px;
    line-height: 1.142;
  }
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;

  color: var(--footer-text-color);
}

.footer-link {
  @media screen and(max-width: $tablet) {
    font-size: 14px;
    line-height: 1.142;
  }
  margin-left: 3px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187px;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--footer-text-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.heart-svg-left {
  fill: #3e29ff;
  margin-left: 10px;
  animation: animate150 1500ms infinite 1500ms;
}

.heart-svg-right {
  fill: #ffd706;
  margin-right: 10px;
  animation: animate150 1500ms infinite 750ms;
}

@keyframes animate150 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
