.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.modal-footer {
  width: 450px;
  min-height: 482px;
  background-color: var(--footer-bg-color);
  overflow-y: auto;
  @media screen and (max-width: $pre-tablet) {
    width: 100%;
    overflow-y: scroll;
  }

  @media screen and (min-width: $tablet) {
    padding: 10px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 728px;
    min-height: 600px;
    padding: 10px;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  cursor: pointer;

  position: absolute;
  right: -13px;
  top: -13px;

  @media screen and (max-width: $pre-tablet) {
    top: 0;
    right: 1px;
  }
}

.close {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.img-team {
  @media screen and (min-width: $mobile) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    height: 164px;
    object-fit: cover;
  }
}

.wrap-team {
  @media screen and (max-width: $pre-tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 475px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
  }
}

.scene {
  border: 1px solid #ccc;
  padding: 10px;
  perspective: 600px;
  border-radius: 4px;

  @media screen and (min-width: $mobile) {
    display: block;
    width: 320px;
    height: 400px;
  }

  @media screen and (min-width: $tablet) {
    width: 120px;
    height: 160px;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(100% / 3 - 10px);

    &:nth-child(1n + 10) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 160px;
    height: 187px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(100% / 4 - 10px);
    &:nth-child(1n + 9) {
      margin-bottom: 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;

  color: white;
  text-align: center;
  font-weight: bold;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: var(--footer-bg-color);
}

.card__face--back {
  background: var(--footer-text-color);
  transform: rotateY(180deg);
  padding: 10px;
  background: linear-gradient(45deg, #2a0018, #362e29, #020240) 0 0/100% 100%;
}

.current-back {
  padding: 0;
}

.team-member-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 22px;
  }
}

.position-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  margin-top: 5px;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 16px;
  }
}

.team-work-text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  margin-top: 50px;

  @media screen and (min-width: $tablet) {
    font-size: 8px;
    line-height: 10px;
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
  }
}
