.header__container {
  width: 100%;
  height: 230px;
  padding-top: 42px;
  padding-bottom: 64px;
  background-color: black;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  background-color: #000;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/mobile/header-mobile-x1.png');

  @media screen and (min-width: $tablet) {
    height: 219px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/header-tablet-x1.png');
  }

  @media screen and (min-width: $desktop) {
    height: 216px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/header-desktop-x1.png');
  }
}
.header__container.header-home__container {
  text-align: center;
  padding-bottom: 92px;
  opacity: 0.9;
  background-image: url('../images/mobile/index-mobile-x1.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url('../images/mobile/index-mobile-x2.png');
  
    }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url('../images/tablet/index-tablet-x1.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('../images/tablet/index-tablet-x2.png');
    
      }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/desktop/index-desktop-x1.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('../images/desktop/index-desktop-x2.png');
    
      }
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    align-items: baseline;
  }
}

.header__img {
  width: 100%;
}

.logo {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__svg {
  color: var(--main-color);
  @media screen and (min-width: $tablet) {
    margin-right: 12px;
  }
}

.logo__text {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--main-color);
  }
}

.logo__img::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../images/svg/film.svg);
  background-size: contain;
}

.header__list {
  display: flex;
}

.header__li {
  margin-right: 40px;
  padding: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  &:visited {
    color: var(--main-color);
  }
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--main-color);
}

.current::after {
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.header__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__btn {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  padding: 13px 36px;
  margin-right: 20px;
  height: 44px;
  width: 130px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 152px;
    padding: 13px 46px;
    margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 148px;
    padding: 13px 41.5px;
    margin-right: 16px;
  }
}

.header__btn:hover,
.header__btn:focus {
  background: #ff6b01;
  border: 1px solid #ff6b01;
  -webkit-box-shadow: 0px 13px 59px -1px rgba(255, 107, 1, 0.36);
  -moz-box-shadow: 0px 13px 59px -1px rgba(255, 107, 1, 0.36);
  box-shadow: 0px 13px 59px -1px rgba(255, 107, 1, 0.36);
}

.header__search {
  position: relative;
  display: inline-flex;
  border-bottom: 0.5px solid #FFFFFF;

  width: 280px;
  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 394px;
  }
}

.search__input {
  width: 100%;
  background-color: transparent;
  padding: 4px;
  border: none;
  color: #ffff;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}


.icon-search {
  position: absolute;
  right: 0;
  z-index: 5;
  stroke: var(--main-color);
}

.header__input {
  height: 20px;
  color: var(--main-color);
  border: none;
  border-bottom: 0.5px solid var(--main-color);
  width: 280px;
  background: 0 0;
  outline: none;
  padding: 0 0 4px 1px;
  font-size: 14px;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
.input__search-btn {
  transition-timing-function: 300ms;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
 bottom: 4px;
right: 0;
  width: 12px;
  height: 12px; 
}
.input__search-icon {
  width: 100%;
  height: 100%;
 position: absolute;
        top: 0;
          left: 0;
  fill: #ffff;
}

.input__search-btn:hover,
.input__search-btn:focus {
  transform: scale(1.2);
}
