:root {
  --main-color: #ffffff;
  --second-color: #000000;
  --information-color: #ff001b;
  --accent-color: #ff6b08;
  --footer-bg-color: #f7f7f7;
  --footer-text-color: #545454;
  --modal-details-color: #8c8c8c;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$pre-mobile: 319px;
$pre-tablet: 767px;
$pre-desktop: 1279px;
