.page-up {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--main-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  right: 15px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  @media screen and (min-width: $tablet) {
    width: 50px;
    height: 50px;

    bottom: 3%;
    right: 3%;
  }
}
.page-up::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 40px;
  color: #fff;
  transition: all 250ms ease-in-out;
  @media screen and (min-width: $tablet) {
    line-height: 50px;
  }
}
.page-up:hover {
  cursor: pointer;
  background-color: var(--footer-text-color);
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
}
.page-up:active {
  background-color: #555;
}
.page-up.btn-up-show {
  opacity: 1;
  visibility: visible;
}
